body {
  font-size: 14px;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  color: #4d5156;
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: min-content min-content;
  margin-inline: auto;
  accent-color: #035494;
  align-content: center;
  width: min(100vw - 2rem, 30rem);
}
button,
input[type=submit],
input[type=button] {
  color: #444;
  background-image: linear-gradient(rgb(237, 237, 237), rgb(237, 237, 237) 38%, rgb(222, 222, 222));
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0, rgba(255, 255, 255, 0.75) 0 1px 2px inset;
  text-shadow: rgb(240, 240, 240) 0 1px 0;
  cursor: pointer;
}
button,
input[type=number],
input[type=text],
input[type=password],
input[type=submit],
input[type=button] {
  height: 32px;
  border: solid 1px rgba(0, 0, 0, 0.25);
}
input[type=number] {
  height: 24px;
}
input[type=button]:disabled {
  opacity: 0.5;
}
input[type=password]:focus,
input[type=text]:focus,
input[type=number]:focus {
  outline: none;
  background-color: #e5f8ff;
}
input[type="checkbox"] {
  cursor: pointer;
}
a,
a:visited {
  color: #07c;
}
form {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-gap: 10px 2px;
}
form img {
  grid-column: 1/3;
  justify-self: center;
}
form input[type=password] {
  padding: 10px 5px;
  box-sizing: border-box;
}
form img {
  margin-bottom: 50px;
}

.two {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 5px;
  align-items: center;
}
#options {
  padding: 10px;
  background-color: #fff;
  margin-top: 30px;
}
#options > div:last-child {
  margin-top: 20px;
}
#options input[type=number] {
  width: 5ch;
}

body.hash #password-check,
body.hash #change {
  display: none;
}

.hidden {
  display: none !important;
}

body[data-mode="each-time"] #auto-lock,
body[data-mode="each-time"] label[for="auto-lock"] {
  opacity: 0.5;
  pointer-events: none;
}
